<div class="main-div">
<mat-card class="z-depth center" flex="50">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <div class="row">
          <mat-form-field>
              <input class="form-control form-control-sm" placeholder="Username" formControlName="username" appInputTrim>
              </mat-form-field>
      </div>
      <div class="row">
          <mat-form-field>
            <input class="form-control form-control-sm" placeholder="Password" type="password" formControlName="password" appInputTrim>
            </mat-form-field>
      </div>

      <div class="form-button">
          <button mat-raised-button color="primary">Login</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
</div>