.pt-1 {
    overflow-x: hidden;
    height: 85vh;
    max-width: 100wh;
    overflow-y: auto;
  }

  a,
  button {
    cursor: pointer;
  }
  .center{
    width: 75%;
    margin: 10px auto;
    align-items: center;
  }
  
  .main-div{
    width: 50vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .btn-light {
    border: 1px solid #505A62;
    margin: 0px 5px 5px 0px;
  }
  
  .pull-right {
    float: right;
    margin-top: -40px;
  }
  .form-button {
    max-width: 800px;
    margin-left: 40%;
  }
  
  .form-button-single {
    max-width: 800px;
    margin-left: 48%;
  }
  
  .mat-table {
    max-height: 250px !important;
    overflow: auto !important;
  }
  
  .combobox {
    height: 115px;
  }
  